<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToe</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="titactoe-header">
      <div class="container">
        <h2>Welcome to Tic Tac Toe Game</h2>
      </div>
      <div class="nav">
        <% unless current_user.nil? %>
          Welcome <%= current_user.email %> | <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        <% end  %>
      </div>
    </div>

    <div class="container">
      <div class="row bdy">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; @ Rajesh Rajan</p>
    </footer>

  </body>
</html>
